<div id="main-container" class="container">
    <div *ngIf="serverErrorBanner$ | async" class="banner">
        <div>
            <span>{{'msg.server-connection-failed' | translate}}</span>
            <mat-icon>block</mat-icon>
        </div>
    </div>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="warn" style="position: absolute; top: 0px; left: 0px; right: 0px; z-index: 99999;">
    </mat-progress-bar>
    <app-header class="header" [hidden]="isHidden()"></app-header>
    <div [ngClass]="getClass()">
        <router-outlet></router-outlet>
        <button *ngIf="showDevNavigation()"
                mat-icon-button
                class="dev-nav-btn"
                [matMenuTriggerFor]="devNavMenu"
                [appTooltip]="'app.navigation' | translate"
                appTooltipPlacement="below">
            <mat-icon>apps</mat-icon>
        </button>
        <mat-menu #devNavMenu="matMenu" class="dev-nav-menu" xPosition="before" yPosition="below">
            <button mat-menu-item (click)="onGoTo('home')">
                <mat-icon>home</mat-icon>
                <span>{{'app.home' | translate}}</span>
            </button>
            <button mat-menu-item (click)="onGoTo('editor')">
                <mat-icon>edit</mat-icon>
                <span>{{'app.editor' | translate}}</span>
            </button>
            <button mat-menu-item (click)="onGoTo('lab')">
                <mat-icon>science</mat-icon>
                <span>{{'app.lab' | translate}}</span>
            </button>
        </mat-menu>
    </div>
</div>