<ds-page-header [title]="'users.list-title' | translate" [subtitle]="'users.list-subtitle' | translate">
    <button mat-raised-button color="primary" (click)="onAddUser()">
        <mat-icon>person_add</mat-icon><span>{{'users.add' | translate}}</span>
    </button>
</ds-page-header>
<div class="work-panel">
	<div class="container">
		<mat-table #table [dataSource]="dataSource" matSort>
			<ng-container matColumnDef="select">
				<mat-header-cell *matHeaderCellDef [ngClass]="'selectidthClass'">
				</mat-header-cell>
				<mat-cell *matCellDef="let element" [ngClass]="'selectidthClass'">
					<button mat-icon-button (click)="onEditUser(element)" class="remove">
						<mat-icon>edit</mat-icon>
					</button>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="username">
				<mat-header-cell *matHeaderCellDef mat-sort-header> {{'users.list-name' | translate}} </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="fullname">
				<mat-header-cell *matHeaderCellDef mat-sort-header> {{'users.list-fullname' | translate}} </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element.fullname}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="groups">
				<mat-header-cell *matHeaderCellDef mat-sort-header> {{ (isRolePermission() ? 'users.list-roles' : 'users.list-groups') | translate}} </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{permissionValueToLabel(element)}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="start">
				<mat-header-cell *matHeaderCellDef mat-sort-header> {{'users.list-start' | translate}} </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{getViewStartName(element.username)}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="remove">
				<mat-header-cell *matHeaderCellDef> </mat-header-cell>
				<mat-cell *matCellDef="let element">
					<button mat-icon-button (click)="$event.stopPropagation();onRemoveUser(element)" class="remove" *ngIf="!isAdmin(element)">
						<mat-icon>clear</mat-icon>
					</button>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;" class="my-mat-row"></mat-row>
		</mat-table>
		<ds-empty-state *ngIf="!dataSource.data.length" icon="person_outline"
			title="No users found"
			message="Use the + button to add the first user.">
		</ds-empty-state>
	</div>
</div>

<button mat-fab color="primary" (click)="onAddUser()" class="fab-add">
	<mat-icon class="">add</mat-icon>
</button>
