<form [formGroup]="formGroup"
      class="container">
    <h1 mat-dialog-title
        class="dialog-title"
        mat-dialog-draggable>{{'dlg.docproperty-title' | translate}}</h1>
    <mat-icon (click)="onNoClick()"
              class="dialog-close-btn">clear</mat-icon>
    <div mat-dialog-content>
        <mat-tab-group [mat-stretch-tabs]="false">
            <mat-tab label="{{'gauges.property-props' | translate}}">
                <div class="mat-tab-container vp-layout">
                    <!-- LEFT: form fields -->
                    <div class="vp-fields">
                        <div class="my-form-field block">
                            <span>{{'dlg.docproperty-name' | translate}}</span>
                            <input formControlName="name" style="width:100%" type="text">
                        </div>
                        <div class="my-form-field block mt5">
                            <span>{{'dlg.docproperty-type' | translate}}</span>
                            <mat-select formControlName="type" placeholder="{{'dlg.doctype' | translate}}">
                                <mat-option [value]="viewType.svg">{{'editor.view-svg' | translate}}</mat-option>
                                <mat-option [value]="viewType.cards">{{'editor.view-cards' | translate}}</mat-option>
                                <mat-option [value]="viewType.maps">{{'editor.view-maps' | translate}}</mat-option>
                            </mat-select>
                        </div>
                        <div *ngIf="formGroup.controls.type?.value === viewType.svg">
                            <div class="block mt5" style="display:flex;gap:12px">
                                <div class="my-form-field" style="flex:1">
                                    <span>{{'dlg.docproperty-width' | translate}}</span>
                                    <input numberOnly formControlName="width" style="width:100%" type="number">
                                </div>
                                <div class="my-form-field" style="flex:1">
                                    <span>{{'dlg.docproperty-height' | translate}}</span>
                                    <input numberOnly formControlName="height" style="width:100%" type="number">
                                </div>
                            </div>
                            <div class="my-form-field block mt5">
                                <span>{{'dlg.docproperty-size' | translate}}</span>
                                <mat-select placeholder="{{'dlg.docproperty-select' | translate}}"
                                            (selectionChange)="onSizeChange($event.value)">
                                    <mat-option *ngFor="let prop of propSizeType" [value]="prop.value">{{ prop.text }}</mat-option>
                                </mat-select>
                            </div>
                            <div class="my-form-field block mt5">
                                <span>{{'dlg.docproperty-align' | translate}}</span>
                                <mat-select formControlName="align" placeholder="{{'dlg.docproperty-align-placeholder' | translate}}">
                                    <mat-option *ngFor="let align of alignType | enumToArray" [value]="align.key">
                                        {{'dlg.docproperty-align-' + align.value | translate}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div *ngIf="formGroup.controls.type?.value === viewType.cards">
                            <div class="block mt5" style="display:flex;gap:12px">
                                <div class="my-form-field" style="flex:1">
                                    <span>{{'dlg.docproperty-gridtype' | translate}}</span>
                                    <mat-select formControlName="gridType" placeholder="{{'dlg.docproperty-gridtype-placeholder' | translate}}">
                                        <mat-option *ngFor="let type of gridType | enumToArray" [value]="type.value">
                                            {{'dlg.docproperty-gridtype-' + type.value | translate}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                                <div class="my-form-field" style="flex:1">
                                    <span>{{'dlg.docproperty-margin' | translate}}</span>
                                    <input numberOnly formControlName="margin" [max]="20" [min]="0" [step]="1" style="width:100%" type="number">
                                </div>
                            </div>
                        </div>
                        <!-- Background swatch preview -->
                        <div *ngIf="formGroup.controls.type?.value !== viewType.maps" class="my-form-field block mt5">
                            <span>{{'dlg.docproperty-background' | translate}}</span>
                            <div class="bkcolor-swatch" [style.background]="data.profile.bkcolor">
                                <span class="bkcolor-hex">{{ data.profile.bkcolor }}</span>
                            </div>
                        </div>
                        <div class="my-form-field block mt5">
                            <span>{{'dlg.docproperty-renderDelay' | translate}}</span>
                            <input numberOnly formControlName="viewRenderDelay" [min]="0" type="number" style="width:100%">
                        </div>
                    </div>

                    <!-- RIGHT: inline color picker (uses empty space, no popup needed) -->
                    <div class="vp-picker" *ngIf="formGroup.controls.type?.value !== viewType.maps">
                        <span class="vp-picker-label">{{'dlg.docproperty-background' | translate}}</span>
                        <input style="display:none"
                               [(colorPicker)]="data.profile.bkcolor"
                               [cpToggle]="true"
                               [cpDialogDisplay]="'inline'"
                               [cpAlphaChannel]="'always'"
                               [cpPresetColors]="defaultColor"
                               [cpCancelButton]="false"
                               [cpOKButton]="false" />
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="{{'gauges.property-events' | translate}}"
                     #tabEvents>
                <div class="mat-tab-container">
                    <div class="toolbox">
                        <button mat-icon-button
                                (click)="onAddEvent()"
                                matTooltip="{{'gauges.property-tooltip-add-event' | translate}}">
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                    </div>
                    <div mat-dialog-content
                         style="overflow: visible; width:100%;">
                        <flex-event [data]="data"
                                    [property]="data.property"
                                    [scripts]="scripts"
                                    #flexevent
                                    style="padding-bottom: 5px"></flex-event>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div mat-dialog-actions
         class="dialog-action">
        <button mat-raised-button
                (click)="onNoClick()">
            {{'dlg.cancel' | translate}}
        </button>
        <button mat-raised-button
                [disabled]="formGroup.invalid"
                color="primary"
                (click)="onOkClick()">
            {{'dlg.ok' | translate}}
        </button>
    </div>
</form>